*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: initial;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: initial;
  text-decoration: none;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

body,
p {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 26px;
}

html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
}

ul,
ul li,
ul li a {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

.onFocus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.onFocus:focus {
  -webkit-outline: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

/* header style */
.altHeader {
  position: relative;
}

.althSearch-wrp {
  position: absolute;
  top: 0;
  right: 0;
}

.altHeadet-wrp {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 25px;
}

.search-contact-wrp {
  text-align: right;
}

.menuitems {
  display: none;
  position: absolute;
  top: 110px;
  left: 0;
  background-color: #e2fcca;
  width: 75%;
  padding: 0;
  overflow: hidden;
}

.menuitems ul {
  padding-top: 15px;
  padding-bottom: 20px;
}

.menuitems ul li {
  margin-bottom: 10px;
}

.menuitems ul li:last-child {
  margin-bottom: 0;
}

.menuitems ul li a {
  font-size: 18px;
  line-height: 30px;
  color: #7e685a;
  font-family: "Lato", sans-serif;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  padding: 1px 25px;
  position: relative;
  display: block;
}

.menuitems ul li a:hover {
  color: #000;
}

.menuitems ul li a span {
  position: absolute;
  right: 20px;
  top: 6px;
  font-weight: 700;
}

.menuitems .mInput-search {
  top: 0;
}

.menuitems .Msearch-close {
  right: 30px;
  cursor: pointer;
}

.search-field {
  padding: 0 3rem 0 1.5rem;
  border-radius: 0;
  border: none;
  background: none;
  color: inherit;
  box-shadow: none !important;
  min-height: 4.5rem;
  line-height: 4.5rem;
  width: 100%;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.search-field::placeholder {
  color: #7e685a;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.search-field:focus {
  outline: none;
  border: none;
}

.input-search {
  width: 88%;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  display: none;
  overflow: hidden;
  margin: auto;
}

.searchI {
  cursor: pointer;
}

.mInput-search {
  position: absolute;
  top: 110px;
  overflow: hidden;
  opacity: 1;
  z-index: 120;
  background-color: #f2f2f2;
  width: 100%;
  left: 0;
  right: 0;
  display: none;
}

.mInput-search .search-close,
.mInput-search .Msearch-close {
  position: absolute;
  top: 20px;
  cursor: pointer;
  z-index: 9;
}

.mInput-search .search-close img,
.mInput-search .Msearch-close img {
  width: 100%;
}

.mInput-search .searchfield-wrp {
  border: none;
}

.input-search.active,
.mInput-search.active {
  height: 4.5rem;
}

.navSearch-from {
  position: relative;
}

.navSearch-from .search-close,
.navSearch-from .Msearch-close {
  position: absolute;
  left: 0;
}

.search-close {
  right: 25px;
  position: absolute;
  top: 20px;
}

.alhtPhone {
  margin-bottom: 12px;
}

.alhtPhone a {
  color: #7e685a;
  font-size: 20px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
}

.navSearchNone {
  display: none !important;
}

.manu-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b7a9a1;
  margin: 0 25px 0;
  padding: 15px 5px 15px;
}

.altHeader-logo {
  margin: 0 10px 0 10px;
}

.search-icon {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -3px;
}

.Msearch-icon {
  cursor: pointer;
}

.navBar span {
  color: #7e685a;
  font-size: 34px;
  position: relative;
  top: 20px;
}

a.navBar {
  position: relative;
  top: 17px;
  display: inline-block;
}
a.navBar:focus, a.navBar:hover {
  outline: none;
  border: none;
  box-shadow: none;
  box-shadow: unset;
  background: transparent;
}

.searchfield-wrp {
  border: 1px solid #7e685a;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.msearchToggle {
  display: inline-block;
}

.menuitems ul li.back a span {
  left: 0;
}

.menuitems ul li.back {
  margin: 0 25px 15px;
  padding: 0 10px 10px;
  border-bottom: 1px solid #b7a9a1;
}

.search-form-wrp {
  border: none;
}
.search-form-wrp:focus, .search-form-wrp:hover {
  outline: none;
  border: none;
  box-shadow: none;
  box-shadow: unset;
  background: transparent;
}

.menuitems ul li.back a {
  padding: 1px 0px 1px 30px;
}

@media (min-width: 580px) {
  body {
    max-width: 580px;
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .alhtPhone a {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .altHeader-logo img {
    max-width: 180px;
    width: auto;
  }

  .menuitems ul li a {
    font-size: 18px;
    line-height: 28px;
    padding: 0 20px;
  }

  .altHeadet-wrp {
    height: 100px;
  }

  .menuitems {
    width: 85%;
    top: 100px;
  }

  .alhtPhone {
    margin-bottom: 8px;
  }

  .menuSearch-close img {
    max-width: 30px;
  }

  .msearchToggle img {
    max-width: 40px;
  }

  .navBar span {
    font-size: 30px;
    top: 15px;
  }

  .input-search {
    top: 100px;
  }

  .alhtPhone a {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .menuitems ul li a {
    font-size: 16px;
    line-height: 26px;
  }

  .altHeadet-wrp {
    padding: 0 15px 0 15px;
  }

  .menuitems {
    top: 100px;
  }

  .navBar span {
    top: 17px;
  }

  .menuitems {
    width: 85%;
  }

  .searchI img {
    max-width: 25px;
  }

  .alhtPhone a {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .menuitems ul li a span {
    right: 10px;
    top: 6px;
  }

  .menuitems ul li a {
    font-size: 16px;
    line-height: 26px;
    padding: 0 15px;
  }

  .altHeader-logo {
    margin: 0 10px 0 10px;
    width: 50%;
  }

  .altHeader-logo img {
    max-width: 100%;
  }

  .msearchToggle img {
    max-width: 30px;
  }

  .menuSearch-close img {
    max-width: 20px;
  }

  .navBar span {
    top: 15px;
    font-size: 25px;
  }
}
/* end header style */
/* menu */
.sub-menu {
  display: block;
  position: absolute;
  height: auto;
  width: 100%;
  left: -100%;
  transition: all 0.5s;
  top: 0%;
}

.sub-menu.open {
  left: 0;
  background: #e2fcca;
  z-index: 1;
  top: 0;
  height: 100vh;
}

.back {
  cursor: pointer;
  margin-bottom: 20px;
}

/*end menu*/